<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <% include partials/head%> -->
</head>
<body>
<div>
    <h1>Historia Clinica</h1>
    <p><a href="/logout">Logout</a></p>

    <form action="/edit-user/<%=note._id%>?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="email" placeholder="email" value="<%= note.local.email %>">
        <textarea name="idNumber"><%= note.local.idNumber%></textarea>
    </form>
    <button type="submit">Guardar</button>
</div>
</body>
</html>
